@{
    ViewData["Title"] = "سياسة الخصوصية";
}

<div class="row mt-4">
    <div class="col-12">
        <h2>@ViewData["Title"]</h2>
        <p>صفحة سياسة الخصوصية قيد التطوير...</p>
    </div>
</div>
